* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #dbba14;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ba9f16;
}
